/* ===== reset.css ===== */
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  background: transparent;
  font-size: 100%;
  margin: 0;
  outline: 0;
  vertical-align: baseline;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
body:not(.cq-wcm-edit) input,
body:not(.cq-wcm-edit) input[type="text"],
body:not(.cq-wcm-edit) input[type="email"],
body:not(.cq-wcm-edit) input[type="search"],
body:not(.cq-wcm-edit) input[type="password"],
body:not(.cq-wcm-edit) textarea {
  box-shadow: 0;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))) !important;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) !important;
}
::-ms-clear,
::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
/* Breakpoints */
/* Main Media Queries */
/* Portrait / Landscape */
.uppercase {
  text-transform: uppercase;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
html {
  font-size: 10px;
  height: 100%;
}
body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  color: #333333;
}
header,
footer {
  left: 0;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #333333;
  text-decoration: underline;
}
header {
  background: #414141;
  color: #ffffff;
  min-height: 62px;
  position: fixed;
  top: 0;
  padding: 10px 20px;
  z-index: 2;
}
header .header-container {
  margin: 0 auto;
  display: flex;
  max-width: 992px;
  padding: 0 30px;
  justify-content: space-between;
}
header .link {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 0;
}
header .link:hover {
  color: #ffffff;
  text-decoration: underline;
}
header .user-container {
  padding: 2px 0;
}
header .user-container p {
  font-size: 16px;
  color: #b3b3b3;
  font-weight: bold;
}
header .user-container a {
  padding: 0;
  font-size: 1.6rem;
}
header .login-text {
  padding: 10px 0;
}
.login-page a {
  max-width: 180px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  text-decoration: none;
  transform: translate(-50%, -200%);
}
.login-page i {
  font-weight: normal;
  padding-left: 5px;
  padding-right: 0;
}
footer {
  position: absolute;
  bottom: 0;
  background: #2c2c2c;
  color: #ffffff;
  padding: 15px 0;
  min-height: 52px;
}
.page-not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 44px;
  font-weight: bold;
  font-style: italic;
}
main {
  max-width: 992px;
  margin: 62px auto 52px auto;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 30px;
}
.btn {
  display: inline-block;
  width: auto;
  padding: 7px 20px 7px 20px;
  background: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #363535;
}
.btn i {
  padding-right: 5px;
}
.btn.btn-small {
  padding: 7px 20px 7px 20px;
}
.btn:hover {
  background-color: #363535;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tweet {
  font-size: 1.8rem;
  line-height: 1.8rem;
  border-radius: 3px;
  padding: 20px 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tweet .tweetText {
  margin: 15px 0 20px;
  line-height: 24px;
}
.tweet-header:after,
.tweet-header:before {
  content: "";
  display: table;
  clear: both;
}
.tweet-header img {
  width: 70px;
  border-radius: 50%;
  float: left;
}
.tweet-header .author-container {
  float: left;
  padding: 13px;
}
.tweet-header .author-name {
  margin-bottom: 8px;
  color: #1e7cd0;
  display: inline-block;
}
.tweet-header .author-name:hover {
  color: #1e7cd0;
}
.tweet-header .author-nikName,
.tweet-header .tweet-date {
  font-size: 1.4rem;
  color: #657786;
}
.tweet-header .tweet-date {
  float: right;
  padding-top: 13px;
}
.tooltip {
  position: absolute;
}
.with-tooltip:hover + .tooltip {
  opacity: 1;
  visibility: visible;
}
.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #2c2c2c;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 3px;
  top: -30px;
  left: 18%;
  font-size: 1.2rem;
  transform: translateX(-50%);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tooltip::after {
  content: '';
  width: 0;
  position: absolute;
  height: 0;
  bottom: -5px;
  left: 50%;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #2c2c2c;
  transform: translateX(-50%);
}
.tweet-footer {
  line-height: 33px;
  font-size: 1.4rem;
  margin: 0 -30px;
  padding: 0 30px 20px 30px;
  border-bottom: 1px solid #b3b3b3;
}
.tweet-footer:after,
.tweet-footer:before {
  content: "";
  display: table;
  clear: both;
}
.tweet-footer .tweet-date {
  color: #657786;
  float: right;
  padding: 0;
}
.tweet-footer i.with-tooltip {
  margin-right: 10px;
}
.tweet-footer .btn.btn_small {
  float: right;
}
.tweet-footer button:not(:last-of-type) {
  font-size: 1.6rem;
  padding-right: 30px;
  vertical-align: middle;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.tweet-footer .likes.active,
.tweet-footer .likes:hover {
  color: crimson;
}
.tweet-footer .comments:hover {
  color: #228ae6;
}
.tweet-footer .retweets.active,
.tweet-footer .retweets:hover {
  color: green;
}
.filter-container {
  position: relative;
  display: flex;
  flex-grow: 1;
}
.filter-container .fa-search {
  position: absolute;
  left: 0;
  font-size: 1.6rem;
  color: #808080;
  left: 15px;
  top: 8px;
  z-index: -1;
}
.input {
  display: inline-block;
  height: 36px;
  width: 100%;
  background: none;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #363535;
  padding: 0 10px 1px 10px;
  margin-right: 50px;
}
.input[type="search"] {
  padding-left: 40px;
}
.input:focus {
  border-bottom: 2px solid #363535;
  padding-bottom: 0;
}
main > div {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
main > form {
  margin: 30px 0 50px;
}
main > form .btn i {
  padding-right: 0;
  padding-left: 5px;
}
main > form h3 {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
main > form label {
  font-size: 1.8rem;
  margin-bottom: 5px;
  display: inline-block;
}
main > form label span {
  color: crimson;
  padding-left: 5px;
}
main > form .input-container {
  margin-bottom: 20px;
}
main > form textarea {
  resize: vertical;
  overflow: auto;
  min-height: 80px;
}
main > form .btn-container {
  display: flex;
  justify-content: space-between;
}
.comment {
  font-size: 1.5rem;
  margin: 0 -30px;
}
.comment:last-of-type {
  border-bottom: 1px solid #b3b3b3;
}
.comment:last-of-type .comment__wrapper {
  border-bottom: none;
}
.comment__container {
  width: 100%;
}
.comment__wrapper {
  display: flex;
  margin: 0 45px;
  padding: 15px 0;
  border-bottom: 1px solid #b3b3b3;
}
.comment__header {
  display: flex;
  justify-content: space-between;
}
.comment__author {
  color: #1e7cd0;
  margin-bottom: 3px;
  display: inline-block;
}
.comment__author:hover {
  color: #1e7cd0;
}
.comment__text {
  padding-top: 10px;
}
.comment__nickname,
.comment__date {
  color: #657786;
  font-size: 1.3rem;
}
.comment-author__img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
}
.comment-form {
  padding: 20px 15px;
  display: flex;
}
.comment_textarea {
  border-color: #b3b3b3;
  color: #333333;
  resize: vertical;
  overflow: auto;
  width: initial;
  margin-right: 0;
  flex-grow: 1;
  min-height: 60px;
}
.comment_textarea:focus {
  border-color: #b3b3b3;
}
.comment_submit {
  height: 33px;
  align-self: flex-end;
  margin-left: 20px;
}
.comment_submit i {
  padding-left: 7px;
}
.spinner {
  width: 70px;
  height: 70px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.spinner:after,
.spinner:before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.spinner::after {
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #414141;
  border-bottom-color: #414141;
  top: -4px;
  left: -4px;
  animation: spin 2s linear infinite;
}
.spinner::before {
  position: absolute;
  top: 17px;
  left: 17px;
  height: 35px;
  width: 35px;
  background-color: #2c2c2c;
  animation: shrink 3s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=styles.css.map*/